.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: silver;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 3vh;
}

.header-decoration {
  position: relative;
  bottom: -1.5vh;
  font-size: 10vh;
  color: ghostwhite;
}

#container {
  display: grid;
  grid-template-areas: "launchList launchDetails";
  grid-gap: 5vw;
  justify-content: space-around;
}
